{% extends "::base.html.twig" %}

{% block meta %}
	<meta name="robots" content="noindex" />
{% endblock %}

{% block body %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}
